--
-- PostgreSQL database dump
--

\restrict sCAMhWhMRIlDZcQtlkflsI3oZHNPCUtg17RCCQcm69BpvJ78tnHRxD0j6pm4hyU

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS fk_users_role;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS fk_users_company;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS fk_users_branch;
ALTER TABLE IF EXISTS ONLY public.tables DROP CONSTRAINT IF EXISTS fk_tables_branch;
ALTER TABLE IF EXISTS ONLY public.stock_histories DROP CONSTRAINT IF EXISTS fk_stock_histories_order;
ALTER TABLE IF EXISTS ONLY public.stock_histories DROP CONSTRAINT IF EXISTS fk_stock_histories_ingredient;
ALTER TABLE IF EXISTS ONLY public.sidebar_menus DROP CONSTRAINT IF EXISTS fk_sidebar_menus_children;
ALTER TABLE IF EXISTS ONLY public.role_menus DROP CONSTRAINT IF EXISTS fk_role_menus_sidebar_menu;
ALTER TABLE IF EXISTS ONLY public.role_menus DROP CONSTRAINT IF EXISTS fk_role_menus_role;
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS fk_payments_order;
ALTER TABLE IF EXISTS ONLY public.orders DROP CONSTRAINT IF EXISTS fk_orders_user;
ALTER TABLE IF EXISTS ONLY public.orders DROP CONSTRAINT IF EXISTS fk_orders_table;
ALTER TABLE IF EXISTS ONLY public.orders DROP CONSTRAINT IF EXISTS fk_orders_promo;
ALTER TABLE IF EXISTS ONLY public.order_items DROP CONSTRAINT IF EXISTS fk_orders_items;
ALTER TABLE IF EXISTS ONLY public.orders DROP CONSTRAINT IF EXISTS fk_orders_customer;
ALTER TABLE IF EXISTS ONLY public.orders DROP CONSTRAINT IF EXISTS fk_orders_branch;
ALTER TABLE IF EXISTS ONLY public.order_items DROP CONSTRAINT IF EXISTS fk_order_items_menu;
ALTER TABLE IF EXISTS ONLY public.menus DROP CONSTRAINT IF EXISTS fk_menus_category;
ALTER TABLE IF EXISTS ONLY public.menu_ingredients DROP CONSTRAINT IF EXISTS fk_menu_ingredients_menu;
ALTER TABLE IF EXISTS ONLY public.menu_ingredients DROP CONSTRAINT IF EXISTS fk_menu_ingredients_ingredient;
ALTER TABLE IF EXISTS ONLY public.journal_items DROP CONSTRAINT IF EXISTS fk_journal_items_account;
ALTER TABLE IF EXISTS ONLY public.journal_items DROP CONSTRAINT IF EXISTS fk_journal_entries_items;
ALTER TABLE IF EXISTS ONLY public.ingredients DROP CONSTRAINT IF EXISTS fk_ingredients_supplier;
ALTER TABLE IF EXISTS ONLY public.goods_receipts DROP CONSTRAINT IF EXISTS fk_goods_receipts_supplier;
ALTER TABLE IF EXISTS ONLY public.goods_receipt_items DROP CONSTRAINT IF EXISTS fk_goods_receipts_items;
ALTER TABLE IF EXISTS ONLY public.goods_receipts DROP CONSTRAINT IF EXISTS fk_goods_receipts_branch;
ALTER TABLE IF EXISTS ONLY public.goods_receipt_items DROP CONSTRAINT IF EXISTS fk_goods_receipt_items_ingredient;
ALTER TABLE IF EXISTS ONLY public.goods_issue_items DROP CONSTRAINT IF EXISTS fk_goods_issues_items;
ALTER TABLE IF EXISTS ONLY public.goods_issues DROP CONSTRAINT IF EXISTS fk_goods_issues_branch;
ALTER TABLE IF EXISTS ONLY public.goods_issue_items DROP CONSTRAINT IF EXISTS fk_goods_issue_items_ingredient;
ALTER TABLE IF EXISTS ONLY public.cashier_sessions DROP CONSTRAINT IF EXISTS fk_cashier_sessions_user;
ALTER TABLE IF EXISTS ONLY public.branches DROP CONSTRAINT IF EXISTS fk_branches_company;
ALTER TABLE IF EXISTS ONLY public.branch_order_items DROP CONSTRAINT IF EXISTS fk_branch_orders_items;
ALTER TABLE IF EXISTS ONLY public.branch_orders DROP CONSTRAINT IF EXISTS fk_branch_orders_branch;
ALTER TABLE IF EXISTS ONLY public.branch_order_items DROP CONSTRAINT IF EXISTS fk_branch_order_items_ingredient;
DROP INDEX IF EXISTS public.idx_users_username;
DROP INDEX IF EXISTS public.idx_users_role_id;
DROP INDEX IF EXISTS public.idx_users_company_id;
DROP INDEX IF EXISTS public.idx_users_branch_id;
DROP INDEX IF EXISTS public.idx_tables_status;
DROP INDEX IF EXISTS public.idx_tables_branch_id;
DROP INDEX IF EXISTS public.idx_suppliers_company_id;
DROP INDEX IF EXISTS public.idx_suppliers_branch_id;
DROP INDEX IF EXISTS public.idx_stock_histories_ingredient_id;
DROP INDEX IF EXISTS public.idx_stock_histories_created_at;
DROP INDEX IF EXISTS public.idx_settings_branch_key;
DROP INDEX IF EXISTS public.idx_promos_status;
DROP INDEX IF EXISTS public.idx_promos_company_id;
DROP INDEX IF EXISTS public.idx_payments_order_id;
DROP INDEX IF EXISTS public.idx_payments_method;
DROP INDEX IF EXISTS public.idx_payments_company_id;
DROP INDEX IF EXISTS public.idx_orders_user_id;
DROP INDEX IF EXISTS public.idx_orders_status;
DROP INDEX IF EXISTS public.idx_orders_perf_company;
DROP INDEX IF EXISTS public.idx_orders_perf_branch;
DROP INDEX IF EXISTS public.idx_orders_is_paid;
DROP INDEX IF EXISTS public.idx_orders_created_at;
DROP INDEX IF EXISTS public.idx_orders_company_id;
DROP INDEX IF EXISTS public.idx_orders_branch_id;
DROP INDEX IF EXISTS public.idx_order_items_order_id;
DROP INDEX IF EXISTS public.idx_order_items_menu_id;
DROP INDEX IF EXISTS public.idx_menus_is_available;
DROP INDEX IF EXISTS public.idx_menus_company_id;
DROP INDEX IF EXISTS public.idx_menus_category_id;
DROP INDEX IF EXISTS public.idx_menus_branch_id;
DROP INDEX IF EXISTS public.idx_menu_ingredients_menu_id;
DROP INDEX IF EXISTS public.idx_menu_ingredients_ingredient_id;
DROP INDEX IF EXISTS public.idx_journal_items_journal_id;
DROP INDEX IF EXISTS public.idx_journal_entries_date;
DROP INDEX IF EXISTS public.idx_journal_entries_branch_id;
DROP INDEX IF EXISTS public.idx_ingredients_stock;
DROP INDEX IF EXISTS public.idx_ingredients_company_id;
DROP INDEX IF EXISTS public.idx_ingredients_branch_id;
DROP INDEX IF EXISTS public.idx_goods_receipts_status;
DROP INDEX IF EXISTS public.idx_goods_receipts_receipt_date;
DROP INDEX IF EXISTS public.idx_goods_receipts_company_id;
DROP INDEX IF EXISTS public.idx_goods_receipts_branch_id;
DROP INDEX IF EXISTS public.idx_goods_receipt_items_receipt_id;
DROP INDEX IF EXISTS public.idx_goods_issues_status;
DROP INDEX IF EXISTS public.idx_goods_issues_company_id;
DROP INDEX IF EXISTS public.idx_customers_phone;
DROP INDEX IF EXISTS public.idx_customers_company_id;
DROP INDEX IF EXISTS public.idx_companies_code;
DROP INDEX IF EXISTS public.idx_categories_company_id;
DROP INDEX IF EXISTS public.idx_categories_branch_id;
DROP INDEX IF EXISTS public.idx_cashier_sessions_user;
DROP INDEX IF EXISTS public.idx_cashier_sessions_branch;
DROP INDEX IF EXISTS public.idx_branches_company_id;
DROP INDEX IF EXISTS public.idx_branches_code;
DROP INDEX IF EXISTS public.idx_branch_orders_status;
DROP INDEX IF EXISTS public.idx_branch_orders_company_id;
DROP INDEX IF EXISTS public.idx_branch_order_items_order_id;
DROP INDEX IF EXISTS public.idx_branch_key;
DROP INDEX IF EXISTS public.idx_branch_code;
DROP INDEX IF EXISTS public.idx_accounts_company_id;
DROP INDEX IF EXISTS public.idx_accounts_branch_code;
ALTER TABLE IF EXISTS ONLY public.wa_logs DROP CONSTRAINT IF EXISTS wa_logs_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS uni_users_username;
ALTER TABLE IF EXISTS ONLY public.roles DROP CONSTRAINT IF EXISTS uni_roles_name;
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS uni_payments_order_id;
ALTER TABLE IF EXISTS ONLY public.goods_receipts DROP CONSTRAINT IF EXISTS uni_goods_receipts_receipt_no;
ALTER TABLE IF EXISTS ONLY public.goods_issues DROP CONSTRAINT IF EXISTS uni_goods_issues_issue_no;
ALTER TABLE IF EXISTS ONLY public.companies DROP CONSTRAINT IF EXISTS uni_companies_code;
ALTER TABLE IF EXISTS ONLY public.categories DROP CONSTRAINT IF EXISTS uni_categories_name;
ALTER TABLE IF EXISTS ONLY public.branch_orders DROP CONSTRAINT IF EXISTS uni_branch_orders_order_no;
ALTER TABLE IF EXISTS ONLY public.tables DROP CONSTRAINT IF EXISTS tables_pkey;
ALTER TABLE IF EXISTS ONLY public.system_settings DROP CONSTRAINT IF EXISTS system_settings_pkey;
ALTER TABLE IF EXISTS ONLY public.suppliers DROP CONSTRAINT IF EXISTS suppliers_pkey;
ALTER TABLE IF EXISTS ONLY public.stock_histories DROP CONSTRAINT IF EXISTS stock_histories_pkey;
ALTER TABLE IF EXISTS ONLY public.sidebar_menus DROP CONSTRAINT IF EXISTS sidebar_menus_pkey;
ALTER TABLE IF EXISTS ONLY public.roles DROP CONSTRAINT IF EXISTS roles_pkey;
ALTER TABLE IF EXISTS ONLY public.role_menus DROP CONSTRAINT IF EXISTS role_menus_pkey;
ALTER TABLE IF EXISTS ONLY public.promos DROP CONSTRAINT IF EXISTS promos_pkey;
ALTER TABLE IF EXISTS ONLY public.payments DROP CONSTRAINT IF EXISTS payments_pkey;
ALTER TABLE IF EXISTS ONLY public.orders DROP CONSTRAINT IF EXISTS orders_pkey;
ALTER TABLE IF EXISTS ONLY public.order_items DROP CONSTRAINT IF EXISTS order_items_pkey;
ALTER TABLE IF EXISTS ONLY public.menus DROP CONSTRAINT IF EXISTS menus_pkey;
ALTER TABLE IF EXISTS ONLY public.menu_ingredients DROP CONSTRAINT IF EXISTS menu_ingredients_pkey;
ALTER TABLE IF EXISTS ONLY public.journal_items DROP CONSTRAINT IF EXISTS journal_items_pkey;
ALTER TABLE IF EXISTS ONLY public.journal_entries DROP CONSTRAINT IF EXISTS journal_entries_pkey;
ALTER TABLE IF EXISTS ONLY public.ingredients DROP CONSTRAINT IF EXISTS ingredients_pkey;
ALTER TABLE IF EXISTS ONLY public.goods_receipts DROP CONSTRAINT IF EXISTS goods_receipts_pkey;
ALTER TABLE IF EXISTS ONLY public.goods_receipt_items DROP CONSTRAINT IF EXISTS goods_receipt_items_pkey;
ALTER TABLE IF EXISTS ONLY public.goods_issues DROP CONSTRAINT IF EXISTS goods_issues_pkey;
ALTER TABLE IF EXISTS ONLY public.goods_issue_items DROP CONSTRAINT IF EXISTS goods_issue_items_pkey;
ALTER TABLE IF EXISTS ONLY public.customers DROP CONSTRAINT IF EXISTS customers_pkey;
ALTER TABLE IF EXISTS ONLY public.companies DROP CONSTRAINT IF EXISTS companies_pkey;
ALTER TABLE IF EXISTS ONLY public.categories DROP CONSTRAINT IF EXISTS categories_pkey;
ALTER TABLE IF EXISTS ONLY public.cashier_sessions DROP CONSTRAINT IF EXISTS cashier_sessions_pkey;
ALTER TABLE IF EXISTS ONLY public.branches DROP CONSTRAINT IF EXISTS branches_pkey;
ALTER TABLE IF EXISTS ONLY public.branches DROP CONSTRAINT IF EXISTS branches_code_key;
ALTER TABLE IF EXISTS ONLY public.branch_orders DROP CONSTRAINT IF EXISTS branch_orders_pkey;
ALTER TABLE IF EXISTS ONLY public.branch_order_items DROP CONSTRAINT IF EXISTS branch_order_items_pkey;
ALTER TABLE IF EXISTS ONLY public.accounts DROP CONSTRAINT IF EXISTS accounts_pkey;
ALTER TABLE IF EXISTS public.wa_logs ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.users ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.tables ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.system_settings ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.suppliers ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.stock_histories ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.sidebar_menus ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.roles ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.promos ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.payments ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.orders ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.order_items ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.menus ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.menu_ingredients ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.journal_items ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.journal_entries ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.ingredients ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.goods_receipts ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.goods_receipt_items ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.goods_issues ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.goods_issue_items ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.customers ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.companies ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.categories ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.cashier_sessions ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.branches ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.branch_orders ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.branch_order_items ALTER COLUMN id DROP DEFAULT;
ALTER TABLE IF EXISTS public.accounts ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.wa_logs_id_seq;
DROP TABLE IF EXISTS public.wa_logs;
DROP SEQUENCE IF EXISTS public.users_id_seq;
DROP TABLE IF EXISTS public.users;
DROP SEQUENCE IF EXISTS public.tables_id_seq;
DROP TABLE IF EXISTS public.tables;
DROP SEQUENCE IF EXISTS public.system_settings_id_seq;
DROP TABLE IF EXISTS public.system_settings;
DROP SEQUENCE IF EXISTS public.suppliers_id_seq;
DROP TABLE IF EXISTS public.suppliers;
DROP SEQUENCE IF EXISTS public.stock_histories_id_seq;
DROP TABLE IF EXISTS public.stock_histories;
DROP SEQUENCE IF EXISTS public.sidebar_menus_id_seq;
DROP TABLE IF EXISTS public.sidebar_menus;
DROP SEQUENCE IF EXISTS public.roles_id_seq;
DROP TABLE IF EXISTS public.roles;
DROP TABLE IF EXISTS public.role_menus;
DROP SEQUENCE IF EXISTS public.promos_id_seq;
DROP TABLE IF EXISTS public.promos;
DROP SEQUENCE IF EXISTS public.payments_id_seq;
DROP TABLE IF EXISTS public.payments;
DROP SEQUENCE IF EXISTS public.orders_id_seq;
DROP TABLE IF EXISTS public.orders;
DROP SEQUENCE IF EXISTS public.order_items_id_seq;
DROP TABLE IF EXISTS public.order_items;
DROP SEQUENCE IF EXISTS public.menus_id_seq;
DROP TABLE IF EXISTS public.menus;
DROP SEQUENCE IF EXISTS public.menu_ingredients_id_seq;
DROP TABLE IF EXISTS public.menu_ingredients;
DROP SEQUENCE IF EXISTS public.journal_items_id_seq;
DROP TABLE IF EXISTS public.journal_items;
DROP SEQUENCE IF EXISTS public.journal_entries_id_seq;
DROP TABLE IF EXISTS public.journal_entries;
DROP SEQUENCE IF EXISTS public.ingredients_id_seq;
DROP TABLE IF EXISTS public.ingredients;
DROP SEQUENCE IF EXISTS public.goods_receipts_id_seq;
DROP TABLE IF EXISTS public.goods_receipts;
DROP SEQUENCE IF EXISTS public.goods_receipt_items_id_seq;
DROP TABLE IF EXISTS public.goods_receipt_items;
DROP SEQUENCE IF EXISTS public.goods_issues_id_seq;
DROP TABLE IF EXISTS public.goods_issues;
DROP SEQUENCE IF EXISTS public.goods_issue_items_id_seq;
DROP TABLE IF EXISTS public.goods_issue_items;
DROP SEQUENCE IF EXISTS public.customers_id_seq;
DROP TABLE IF EXISTS public.customers;
DROP SEQUENCE IF EXISTS public.companies_id_seq;
DROP TABLE IF EXISTS public.companies;
DROP SEQUENCE IF EXISTS public.categories_id_seq;
DROP TABLE IF EXISTS public.categories;
DROP SEQUENCE IF EXISTS public.cashier_sessions_id_seq;
DROP TABLE IF EXISTS public.cashier_sessions;
DROP SEQUENCE IF EXISTS public.branches_id_seq;
DROP TABLE IF EXISTS public.branches;
DROP SEQUENCE IF EXISTS public.branch_orders_id_seq;
DROP TABLE IF EXISTS public.branch_orders;
DROP SEQUENCE IF EXISTS public.branch_order_items_id_seq;
DROP TABLE IF EXISTS public.branch_order_items;
DROP SEQUENCE IF EXISTS public.accounts_id_seq;
DROP TABLE IF EXISTS public.accounts;
SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.accounts (
    id bigint NOT NULL,
    company_id bigint,
    branch_id bigint,
    code character varying(20) NOT NULL,
    name character varying(100) NOT NULL,
    type character varying(50) NOT NULL,
    description text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone
);


ALTER TABLE public.accounts OWNER TO pos_user;

--
-- Name: accounts_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.accounts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.accounts_id_seq OWNER TO pos_user;

--
-- Name: accounts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.accounts_id_seq OWNED BY public.accounts.id;


--
-- Name: branch_order_items; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.branch_order_items (
    id bigint NOT NULL,
    branch_order_id bigint NOT NULL,
    ingredient_id bigint NOT NULL,
    quantity numeric NOT NULL,
    approved_qty numeric,
    notes text
);


ALTER TABLE public.branch_order_items OWNER TO pos_user;

--
-- Name: branch_order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.branch_order_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.branch_order_items_id_seq OWNER TO pos_user;

--
-- Name: branch_order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.branch_order_items_id_seq OWNED BY public.branch_order_items.id;


--
-- Name: branch_orders; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.branch_orders (
    id bigint NOT NULL,
    company_id bigint,
    branch_id bigint,
    order_no character varying(50) NOT NULL,
    order_date timestamp with time zone NOT NULL,
    notes text,
    requested_by character varying(100),
    status character varying(20) DEFAULT 'Pending'::character varying,
    created_at timestamp with time zone
);


ALTER TABLE public.branch_orders OWNER TO pos_user;

--
-- Name: branch_orders_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.branch_orders_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.branch_orders_id_seq OWNER TO pos_user;

--
-- Name: branch_orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.branch_orders_id_seq OWNED BY public.branch_orders.id;


--
-- Name: branches; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.branches (
    id integer NOT NULL,
    name character varying(150) NOT NULL,
    code character varying(50) NOT NULL,
    address text,
    phone character varying(20),
    email character varying(100),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone,
    company_id bigint
);


ALTER TABLE public.branches OWNER TO pos_user;

--
-- Name: branches_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.branches_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.branches_id_seq OWNER TO pos_user;

--
-- Name: branches_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.branches_id_seq OWNED BY public.branches.id;


--
-- Name: cashier_sessions; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.cashier_sessions (
    id bigint NOT NULL,
    company_id bigint,
    branch_id bigint,
    user_id bigint NOT NULL,
    open_time timestamp with time zone NOT NULL,
    close_time timestamp with time zone,
    initial_cash numeric DEFAULT 0 NOT NULL,
    closing_cash numeric DEFAULT 0,
    total_sales numeric DEFAULT 0,
    total_orders bigint DEFAULT 0,
    notes text,
    status character varying(10) DEFAULT 'Open'::character varying
);


ALTER TABLE public.cashier_sessions OWNER TO pos_user;

--
-- Name: cashier_sessions_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.cashier_sessions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cashier_sessions_id_seq OWNER TO pos_user;

--
-- Name: cashier_sessions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.cashier_sessions_id_seq OWNED BY public.cashier_sessions.id;


--
-- Name: categories; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.categories (
    id bigint NOT NULL,
    company_id bigint,
    branch_id bigint,
    name character varying(100) NOT NULL,
    description text
);


ALTER TABLE public.categories OWNER TO pos_user;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.categories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.categories_id_seq OWNER TO pos_user;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.categories_id_seq OWNED BY public.categories.id;


--
-- Name: companies; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.companies (
    id bigint NOT NULL,
    name character varying(150) NOT NULL,
    code character varying(50) NOT NULL,
    address text,
    phone character varying(20),
    email character varying(100),
    logo_url text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone
);


ALTER TABLE public.companies OWNER TO pos_user;

--
-- Name: companies_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.companies_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.companies_id_seq OWNER TO pos_user;

--
-- Name: companies_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.companies_id_seq OWNED BY public.companies.id;


--
-- Name: customers; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.customers (
    id bigint NOT NULL,
    company_id bigint,
    branch_id bigint,
    name character varying(100) NOT NULL,
    phone character varying(20),
    email character varying(100),
    address text,
    loyalty_points bigint DEFAULT 0,
    total_spent numeric DEFAULT 0,
    tier character varying(20) DEFAULT 'Bronze'::character varying,
    is_send_wa boolean DEFAULT false,
    created_at timestamp with time zone
);


ALTER TABLE public.customers OWNER TO pos_user;

--
-- Name: customers_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.customers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.customers_id_seq OWNER TO pos_user;

--
-- Name: customers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.customers_id_seq OWNED BY public.customers.id;


--
-- Name: goods_issue_items; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.goods_issue_items (
    id bigint NOT NULL,
    issue_id bigint NOT NULL,
    ingredient_id bigint NOT NULL,
    quantity numeric NOT NULL,
    notes text
);


ALTER TABLE public.goods_issue_items OWNER TO pos_user;

--
-- Name: goods_issue_items_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.goods_issue_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.goods_issue_items_id_seq OWNER TO pos_user;

--
-- Name: goods_issue_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.goods_issue_items_id_seq OWNED BY public.goods_issue_items.id;


--
-- Name: goods_issues; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.goods_issues (
    id bigint NOT NULL,
    company_id bigint,
    branch_id bigint,
    issue_no character varying(50) NOT NULL,
    issue_category character varying(50),
    issue_date timestamp with time zone NOT NULL,
    notes text,
    issued_by character varying(100),
    status character varying(20) DEFAULT 'Draft'::character varying,
    created_at timestamp with time zone
);


ALTER TABLE public.goods_issues OWNER TO pos_user;

--
-- Name: goods_issues_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.goods_issues_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.goods_issues_id_seq OWNER TO pos_user;

--
-- Name: goods_issues_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.goods_issues_id_seq OWNED BY public.goods_issues.id;


--
-- Name: goods_receipt_items; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.goods_receipt_items (
    id bigint NOT NULL,
    receipt_id bigint NOT NULL,
    ingredient_id bigint NOT NULL,
    quantity numeric NOT NULL,
    cost_price numeric NOT NULL,
    subtotal numeric NOT NULL
);


ALTER TABLE public.goods_receipt_items OWNER TO pos_user;

--
-- Name: goods_receipt_items_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.goods_receipt_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.goods_receipt_items_id_seq OWNER TO pos_user;

--
-- Name: goods_receipt_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.goods_receipt_items_id_seq OWNED BY public.goods_receipt_items.id;


--
-- Name: goods_receipts; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.goods_receipts (
    id bigint NOT NULL,
    company_id bigint,
    branch_id bigint,
    supplier_id bigint,
    receipt_no character varying(50) NOT NULL,
    vendor_invoice_no character varying(50),
    receipt_date timestamp with time zone NOT NULL,
    branch_order_id bigint,
    total_amount numeric DEFAULT 0,
    notes text,
    received_by character varying(100),
    status character varying(20) DEFAULT 'Draft'::character varying,
    created_at timestamp with time zone
);


ALTER TABLE public.goods_receipts OWNER TO pos_user;

--
-- Name: goods_receipts_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.goods_receipts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.goods_receipts_id_seq OWNER TO pos_user;

--
-- Name: goods_receipts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.goods_receipts_id_seq OWNED BY public.goods_receipts.id;


--
-- Name: ingredients; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.ingredients (
    id bigint NOT NULL,
    company_id bigint,
    branch_id bigint,
    name character varying(100) NOT NULL,
    unit character varying(20) NOT NULL,
    stock numeric DEFAULT 0,
    cost_per_unit numeric DEFAULT 0,
    min_stock numeric DEFAULT 0,
    supplier_id bigint,
    created_at timestamp with time zone
);


ALTER TABLE public.ingredients OWNER TO pos_user;

--
-- Name: ingredients_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.ingredients_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ingredients_id_seq OWNER TO pos_user;

--
-- Name: ingredients_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.ingredients_id_seq OWNED BY public.ingredients.id;


--
-- Name: journal_entries; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.journal_entries (
    id bigint NOT NULL,
    company_id bigint,
    branch_id bigint,
    date timestamp with time zone NOT NULL,
    description text,
    reference character varying(100),
    total_amount numeric,
    created_at timestamp with time zone
);


ALTER TABLE public.journal_entries OWNER TO pos_user;

--
-- Name: journal_entries_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.journal_entries_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.journal_entries_id_seq OWNER TO pos_user;

--
-- Name: journal_entries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.journal_entries_id_seq OWNED BY public.journal_entries.id;


--
-- Name: journal_items; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.journal_items (
    id bigint NOT NULL,
    journal_id bigint NOT NULL,
    account_id bigint NOT NULL,
    debit numeric DEFAULT 0,
    credit numeric DEFAULT 0
);


ALTER TABLE public.journal_items OWNER TO pos_user;

--
-- Name: journal_items_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.journal_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.journal_items_id_seq OWNER TO pos_user;

--
-- Name: journal_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.journal_items_id_seq OWNED BY public.journal_items.id;


--
-- Name: menu_ingredients; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.menu_ingredients (
    id bigint NOT NULL,
    menu_id bigint NOT NULL,
    ingredient_id bigint NOT NULL,
    qty_used numeric NOT NULL,
    unit character varying(20)
);


ALTER TABLE public.menu_ingredients OWNER TO pos_user;

--
-- Name: menu_ingredients_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.menu_ingredients_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.menu_ingredients_id_seq OWNER TO pos_user;

--
-- Name: menu_ingredients_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.menu_ingredients_id_seq OWNED BY public.menu_ingredients.id;


--
-- Name: menus; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.menus (
    id bigint NOT NULL,
    company_id bigint,
    branch_id bigint,
    category_id bigint,
    name character varying(150) NOT NULL,
    description text,
    price numeric NOT NULL,
    stock bigint DEFAULT 0,
    image_url text,
    is_available boolean DEFAULT true,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.menus OWNER TO pos_user;

--
-- Name: menus_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.menus_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.menus_id_seq OWNER TO pos_user;

--
-- Name: menus_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.menus_id_seq OWNED BY public.menus.id;


--
-- Name: order_items; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.order_items (
    id bigint NOT NULL,
    order_id bigint NOT NULL,
    menu_id bigint NOT NULL,
    quantity bigint NOT NULL,
    price numeric NOT NULL,
    subtotal numeric NOT NULL,
    notes text
);


ALTER TABLE public.order_items OWNER TO pos_user;

--
-- Name: order_items_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.order_items_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.order_items_id_seq OWNER TO pos_user;

--
-- Name: order_items_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.order_items_id_seq OWNED BY public.order_items.id;


--
-- Name: orders; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.orders (
    id bigint NOT NULL,
    company_id bigint,
    branch_id bigint,
    table_id bigint,
    user_id bigint,
    customer_id bigint,
    customer_name text,
    promo_id bigint,
    status character varying(20) DEFAULT 'Pending'::character varying,
    total_amount numeric DEFAULT 0,
    tax_amount numeric DEFAULT 0,
    discount_amount numeric DEFAULT 0,
    shipping_fee numeric DEFAULT 0,
    notes text,
    is_paid boolean DEFAULT false,
    created_at timestamp with time zone,
    service_charge_amount numeric DEFAULT 0,
    void_reason text,
    CONSTRAINT orders_status_check CHECK (((status)::text = ANY ((ARRAY['Pending'::character varying, 'Proses'::character varying, 'Siap'::character varying, 'Selesai'::character varying, 'Batal'::character varying])::text[])))
);


ALTER TABLE public.orders OWNER TO pos_user;

--
-- Name: orders_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.orders_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.orders_id_seq OWNER TO pos_user;

--
-- Name: orders_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.orders_id_seq OWNED BY public.orders.id;


--
-- Name: payments; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.payments (
    id bigint NOT NULL,
    company_id bigint,
    branch_id bigint,
    order_id bigint NOT NULL,
    amount_paid numeric NOT NULL,
    change numeric DEFAULT 0,
    payment_method character varying(50) NOT NULL,
    reference_no character varying(100),
    created_at timestamp with time zone
);


ALTER TABLE public.payments OWNER TO pos_user;

--
-- Name: payments_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.payments_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.payments_id_seq OWNER TO pos_user;

--
-- Name: payments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.payments_id_seq OWNED BY public.payments.id;


--
-- Name: promos; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.promos (
    id bigint NOT NULL,
    company_id bigint,
    branch_id bigint,
    name character varying(100) NOT NULL,
    description text,
    type character varying(20) NOT NULL,
    value numeric NOT NULL,
    min_order numeric DEFAULT 0,
    max_discount numeric DEFAULT 0,
    start_date timestamp with time zone,
    end_date timestamp with time zone,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone
);


ALTER TABLE public.promos OWNER TO pos_user;

--
-- Name: promos_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.promos_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.promos_id_seq OWNER TO pos_user;

--
-- Name: promos_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.promos_id_seq OWNED BY public.promos.id;


--
-- Name: role_menus; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.role_menus (
    role_id bigint NOT NULL,
    sidebar_menu_id bigint NOT NULL
);


ALTER TABLE public.role_menus OWNER TO pos_user;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    description text
);


ALTER TABLE public.roles OWNER TO pos_user;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_seq OWNER TO pos_user;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: sidebar_menus; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.sidebar_menus (
    id bigint NOT NULL,
    parent_id bigint,
    title text NOT NULL,
    path text,
    icon text,
    sort_order bigint DEFAULT 0,
    is_header boolean DEFAULT false
);


ALTER TABLE public.sidebar_menus OWNER TO pos_user;

--
-- Name: sidebar_menus_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.sidebar_menus_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sidebar_menus_id_seq OWNER TO pos_user;

--
-- Name: sidebar_menus_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.sidebar_menus_id_seq OWNED BY public.sidebar_menus.id;


--
-- Name: stock_histories; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.stock_histories (
    id bigint NOT NULL,
    company_id bigint,
    branch_id bigint,
    ingredient_id bigint NOT NULL,
    order_id bigint,
    type character varying(20) NOT NULL,
    quantity numeric NOT NULL,
    notes text,
    created_at timestamp with time zone
);


ALTER TABLE public.stock_histories OWNER TO pos_user;

--
-- Name: stock_histories_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.stock_histories_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.stock_histories_id_seq OWNER TO pos_user;

--
-- Name: stock_histories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.stock_histories_id_seq OWNED BY public.stock_histories.id;


--
-- Name: suppliers; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.suppliers (
    id bigint NOT NULL,
    company_id bigint,
    branch_id bigint,
    name character varying(150) NOT NULL,
    contact_person character varying(100),
    phone character varying(20),
    email character varying(100),
    address text,
    notes text,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone
);


ALTER TABLE public.suppliers OWNER TO pos_user;

--
-- Name: suppliers_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.suppliers_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.suppliers_id_seq OWNER TO pos_user;

--
-- Name: suppliers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.suppliers_id_seq OWNED BY public.suppliers.id;


--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.system_settings (
    id bigint NOT NULL,
    company_id bigint,
    branch_id bigint,
    key character varying(50) NOT NULL,
    value text NOT NULL,
    created_at timestamp with time zone,
    updated_at timestamp with time zone
);


ALTER TABLE public.system_settings OWNER TO pos_user;

--
-- Name: system_settings_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.system_settings_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.system_settings_id_seq OWNER TO pos_user;

--
-- Name: system_settings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.system_settings_id_seq OWNED BY public.system_settings.id;


--
-- Name: tables; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.tables (
    id bigint NOT NULL,
    company_id bigint,
    branch_id bigint,
    table_number character varying(10) NOT NULL,
    capacity bigint DEFAULT 4,
    floor character varying(20),
    image_url text,
    position_x numeric DEFAULT 0,
    position_y numeric DEFAULT 0,
    status character varying(20) DEFAULT 'Kosong'::character varying
);


ALTER TABLE public.tables OWNER TO pos_user;

--
-- Name: tables_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.tables_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.tables_id_seq OWNER TO pos_user;

--
-- Name: tables_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.tables_id_seq OWNED BY public.tables.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.users (
    id bigint NOT NULL,
    company_id bigint,
    full_name character varying(100),
    username character varying(50) NOT NULL,
    password_hash text NOT NULL,
    role_id bigint,
    branch_id bigint,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone
);


ALTER TABLE public.users OWNER TO pos_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.users_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO pos_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: wa_logs; Type: TABLE; Schema: public; Owner: pos_user
--

CREATE TABLE public.wa_logs (
    id bigint NOT NULL,
    company_id bigint,
    branch_id bigint,
    order_id bigint,
    customer_id bigint,
    phone text,
    message text,
    status text,
    created_at timestamp with time zone
);


ALTER TABLE public.wa_logs OWNER TO pos_user;

--
-- Name: wa_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: pos_user
--

CREATE SEQUENCE public.wa_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.wa_logs_id_seq OWNER TO pos_user;

--
-- Name: wa_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: pos_user
--

ALTER SEQUENCE public.wa_logs_id_seq OWNED BY public.wa_logs.id;


--
-- Name: accounts id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.accounts ALTER COLUMN id SET DEFAULT nextval('public.accounts_id_seq'::regclass);


--
-- Name: branch_order_items id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.branch_order_items ALTER COLUMN id SET DEFAULT nextval('public.branch_order_items_id_seq'::regclass);


--
-- Name: branch_orders id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.branch_orders ALTER COLUMN id SET DEFAULT nextval('public.branch_orders_id_seq'::regclass);


--
-- Name: branches id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.branches ALTER COLUMN id SET DEFAULT nextval('public.branches_id_seq'::regclass);


--
-- Name: cashier_sessions id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.cashier_sessions ALTER COLUMN id SET DEFAULT nextval('public.cashier_sessions_id_seq'::regclass);


--
-- Name: categories id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.categories ALTER COLUMN id SET DEFAULT nextval('public.categories_id_seq'::regclass);


--
-- Name: companies id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.companies ALTER COLUMN id SET DEFAULT nextval('public.companies_id_seq'::regclass);


--
-- Name: customers id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.customers ALTER COLUMN id SET DEFAULT nextval('public.customers_id_seq'::regclass);


--
-- Name: goods_issue_items id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.goods_issue_items ALTER COLUMN id SET DEFAULT nextval('public.goods_issue_items_id_seq'::regclass);


--
-- Name: goods_issues id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.goods_issues ALTER COLUMN id SET DEFAULT nextval('public.goods_issues_id_seq'::regclass);


--
-- Name: goods_receipt_items id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.goods_receipt_items ALTER COLUMN id SET DEFAULT nextval('public.goods_receipt_items_id_seq'::regclass);


--
-- Name: goods_receipts id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.goods_receipts ALTER COLUMN id SET DEFAULT nextval('public.goods_receipts_id_seq'::regclass);


--
-- Name: ingredients id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.ingredients ALTER COLUMN id SET DEFAULT nextval('public.ingredients_id_seq'::regclass);


--
-- Name: journal_entries id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.journal_entries ALTER COLUMN id SET DEFAULT nextval('public.journal_entries_id_seq'::regclass);


--
-- Name: journal_items id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.journal_items ALTER COLUMN id SET DEFAULT nextval('public.journal_items_id_seq'::regclass);


--
-- Name: menu_ingredients id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.menu_ingredients ALTER COLUMN id SET DEFAULT nextval('public.menu_ingredients_id_seq'::regclass);


--
-- Name: menus id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.menus ALTER COLUMN id SET DEFAULT nextval('public.menus_id_seq'::regclass);


--
-- Name: order_items id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.order_items ALTER COLUMN id SET DEFAULT nextval('public.order_items_id_seq'::regclass);


--
-- Name: orders id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.orders ALTER COLUMN id SET DEFAULT nextval('public.orders_id_seq'::regclass);


--
-- Name: payments id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.payments ALTER COLUMN id SET DEFAULT nextval('public.payments_id_seq'::regclass);


--
-- Name: promos id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.promos ALTER COLUMN id SET DEFAULT nextval('public.promos_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: sidebar_menus id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.sidebar_menus ALTER COLUMN id SET DEFAULT nextval('public.sidebar_menus_id_seq'::regclass);


--
-- Name: stock_histories id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.stock_histories ALTER COLUMN id SET DEFAULT nextval('public.stock_histories_id_seq'::regclass);


--
-- Name: suppliers id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.suppliers ALTER COLUMN id SET DEFAULT nextval('public.suppliers_id_seq'::regclass);


--
-- Name: system_settings id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.system_settings ALTER COLUMN id SET DEFAULT nextval('public.system_settings_id_seq'::regclass);


--
-- Name: tables id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.tables ALTER COLUMN id SET DEFAULT nextval('public.tables_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: wa_logs id; Type: DEFAULT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.wa_logs ALTER COLUMN id SET DEFAULT nextval('public.wa_logs_id_seq'::regclass);


--
-- Data for Name: accounts; Type: TABLE DATA; Schema: public; Owner: pos_user
--

INSERT INTO public.accounts (id, company_id, branch_id, code, name, type, description, is_active, created_at) VALUES (1, 1, NULL, '1101', 'Kas', 'Asset', '', true, '2026-04-28 08:33:47.610003+00');
INSERT INTO public.accounts (id, company_id, branch_id, code, name, type, description, is_active, created_at) VALUES (2, 1, NULL, '1201', 'Persediaan Bahan Baku', 'Asset', '', true, '2026-04-28 08:33:47.616611+00');
INSERT INTO public.accounts (id, company_id, branch_id, code, name, type, description, is_active, created_at) VALUES (3, 1, NULL, '2101', 'Hutang PPN', 'Liability', '', true, '2026-04-28 08:33:47.620705+00');


--
-- Data for Name: branch_order_items; Type: TABLE DATA; Schema: public; Owner: pos_user
--



--
-- Data for Name: branch_orders; Type: TABLE DATA; Schema: public; Owner: pos_user
--



--
-- Data for Name: branches; Type: TABLE DATA; Schema: public; Owner: pos_user
--

INSERT INTO public.branches (id, name, code, address, phone, email, is_active, created_at, company_id) VALUES (1, 'Pusat (HQ)', 'HQ001', 'Jakarta Head Office', '021-123456', 'hq@resto.com', true, '2026-04-28 08:31:31.80105', 1);
INSERT INTO public.branches (id, name, code, address, phone, email, is_active, created_at, company_id) VALUES (2, 'Cabang Kopo', 'HQ002', 'Kopo', '0878235353444', '', true, '2026-04-16 09:01:41.778107', 1);
INSERT INTO public.branches (id, name, code, address, phone, email, is_active, created_at, company_id) VALUES (3, 'Cabang Buah Batu', 'HQ003', 'Jalan Buah Batu', '02287162531', '', true, '2026-04-20 10:28:55.315419', 1);


--
-- Data for Name: cashier_sessions; Type: TABLE DATA; Schema: public; Owner: pos_user
--

INSERT INTO public.cashier_sessions (id, company_id, branch_id, user_id, open_time, close_time, initial_cash, closing_cash, total_sales, total_orders, notes, status) VALUES (1, NULL, 1, 1, '2026-04-15 22:33:29.121844+00', '2026-04-17 15:21:47.915282+00', 500000.00, 100000.00, 2397190.00, 27, 'Close', 'Closed');
INSERT INTO public.cashier_sessions (id, company_id, branch_id, user_id, open_time, close_time, initial_cash, closing_cash, total_sales, total_orders, notes, status) VALUES (2, NULL, 1, 1, '2026-04-17 23:33:21.432345+00', NULL, 10000.00, 0.00, 0.00, 0, '', 'Open');


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: pos_user
--

INSERT INTO public.categories (id, company_id, branch_id, name, description) VALUES (1, 1, NULL, 'Makanan', 'Aneka makanan utama dan cemilan');
INSERT INTO public.categories (id, company_id, branch_id, name, description) VALUES (2, 1, NULL, 'Minuman', 'Aneka minuman dingin dan panas');
INSERT INTO public.categories (id, company_id, branch_id, name, description) VALUES (3, 1, NULL, 'Paket', 'Paket hemat kombinasi makanan dan minuman');


--
-- Data for Name: companies; Type: TABLE DATA; Schema: public; Owner: pos_user
--

INSERT INTO public.companies (id, name, code, address, phone, email, logo_url, is_active, created_at) VALUES (1, 'NFM Group', 'NFM001', 'Main Office', '0812345678', '', '/uploads/logo/logo-33e1b553.png', false, '0001-01-01 00:00:00+00');


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: pos_user
--

INSERT INTO public.customers (id, company_id, branch_id, name, phone, email, address, loyalty_points, total_spent, tier, is_send_wa, created_at) VALUES (1, 1, NULL, 'Budi Santoso', '081234567890', NULL, 'Jl. Merdeka No. 10', 0, 0, 'Bronze', false, '2026-04-28 23:31:15+00');
INSERT INTO public.customers (id, company_id, branch_id, name, phone, email, address, loyalty_points, total_spent, tier, is_send_wa, created_at) VALUES (3, 1, NULL, 'Andi Wijaya', '085678901234', NULL, 'Jl. Gatot Subroto No. 20', 0, 0, 'Bronze', false, '2026-04-28 23:31:15+00');
INSERT INTO public.customers (id, company_id, branch_id, name, phone, email, address, loyalty_points, total_spent, tier, is_send_wa, created_at) VALUES (4, 1, NULL, 'Nana', '08723339006', 'nana@gmail.com', 'Bandung', 0, 0, 'Bronze', true, '2026-04-28 16:31:58.850535+00');


--
-- Data for Name: goods_issue_items; Type: TABLE DATA; Schema: public; Owner: pos_user
--



--
-- Data for Name: goods_issues; Type: TABLE DATA; Schema: public; Owner: pos_user
--



--
-- Data for Name: goods_receipt_items; Type: TABLE DATA; Schema: public; Owner: pos_user
--



--
-- Data for Name: goods_receipts; Type: TABLE DATA; Schema: public; Owner: pos_user
--



--
-- Data for Name: ingredients; Type: TABLE DATA; Schema: public; Owner: pos_user
--



--
-- Data for Name: journal_entries; Type: TABLE DATA; Schema: public; Owner: pos_user
--

INSERT INTO public.journal_entries (id, company_id, branch_id, date, description, reference, total_amount, created_at) VALUES (1, 1, 1, '2026-04-28 16:57:36.215629+00', 'Penjualan Order #2', 'ORDER-2', 60500, '2026-04-28 16:57:36.216267+00');
INSERT INTO public.journal_entries (id, company_id, branch_id, date, description, reference, total_amount, created_at) VALUES (2, 1, 1, '2026-04-28 16:57:46.641931+00', 'Penjualan Order #1', 'ORDER-1', 72600, '2026-04-28 16:57:46.642605+00');


--
-- Data for Name: journal_items; Type: TABLE DATA; Schema: public; Owner: pos_user
--

INSERT INTO public.journal_items (id, journal_id, account_id, debit, credit) VALUES (1, 1, 1, 60500, 0);
INSERT INTO public.journal_items (id, journal_id, account_id, debit, credit) VALUES (2, 1, 5, 0, 55000);
INSERT INTO public.journal_items (id, journal_id, account_id, debit, credit) VALUES (3, 1, 3, 0, 5500);


--
-- Data for Name: menu_ingredients; Type: TABLE DATA; Schema: public; Owner: pos_user
--



--
-- Data for Name: menus; Type: TABLE DATA; Schema: public; Owner: pos_user
--

INSERT INTO public.menus (id, company_id, branch_id, category_id, name, description, price, stock, image_url, is_available, created_at, updated_at) VALUES (1, 1, NULL, 1, 'Nasi Goreng Spesial', 'Nasi goreng dengan ayam, telur, dan kerupuk', 35000.00, 50, '/uploads/f92052d8-13b9-4b42-b6b4-7882bc383101_scaled_ChatGPT Image Apr 16, 2026, 02_29_14 PM.png', true, '2026-04-15 09:08:48.110303+00', '2026-04-16 14:29:26.572833+00');
INSERT INTO public.menus (id, company_id, branch_id, category_id, name, description, price, stock, image_url, is_available, created_at, updated_at) VALUES (2, 1, NULL, 1, 'Mie Goreng Seafood', 'Mie goreng dengan udang dan cumi', 40000.00, 30, '/uploads/0acad5f6-e8ff-4bef-9a0e-565b40fea366_scaled_ChatGPT Image Apr 16, 2026, 02_01_33 PM.png', true, '2026-04-15 09:08:48.110303+00', '2026-04-16 14:01:53.315953+00');
INSERT INTO public.menus (id, company_id, branch_id, category_id, name, description, price, stock, image_url, is_available, created_at, updated_at) VALUES (3, 1, NULL, 2, 'Es Teh Manis', 'Teh melati manis dingin', 10000.00, 100, '/uploads/29923b5f-7bf7-4f75-bd03-68e66774ad49_scaled_ChatGPT Image Apr 16, 2026, 01_28_00 PM.png', true, '2026-04-15 09:08:48.110303+00', '2026-04-16 13:28:19.88313+00');


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: pos_user
--

INSERT INTO public.order_items (id, order_id, menu_id, quantity, price, subtotal, notes) VALUES (4, 2, 7, 1, 15000, 15000, '');
INSERT INTO public.order_items (id, order_id, menu_id, quantity, price, subtotal, notes) VALUES (5, 2, 5, 1, 40000, 40000, '');
INSERT INTO public.order_items (id, order_id, menu_id, quantity, price, subtotal, notes) VALUES (1, 1, 14, 1, 25000, 25000, '');


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: pos_user
--

INSERT INTO public.orders (id, company_id, branch_id, table_id, user_id, customer_id, customer_name, promo_id, status, total_amount, tax_amount, discount_amount, shipping_fee, notes, is_paid, created_at, service_charge_amount, void_reason) VALUES (2, 1, 1, NULL, 2, NULL, 'Pelanggan Umum', NULL, 'Proses', 60500, 5500, 0, 0, '', true, '2026-04-28 16:57:13.099852+00', 0, '');
INSERT INTO public.orders (id, company_id, branch_id, table_id, user_id, customer_id, customer_name, promo_id, status, total_amount, tax_amount, discount_amount, shipping_fee, notes, is_paid, created_at, service_charge_amount, void_reason) VALUES (1, 1, 1, 1, 2, 2, 'Siti Aminah', NULL, 'Proses', 72600, 6600, 0, 0, '', true, '2026-04-28 16:48:41.995623+00', 0, '');


--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: pos_user
--

INSERT INTO public.payments (id, company_id, branch_id, order_id, amount_paid, change, payment_method, reference_no, created_at) VALUES (1, 1, 1, 2, 200000, 139500, 'Tunai', '', '2026-04-28 16:57:36.19257+00');
INSERT INTO public.payments (id, company_id, branch_id, order_id, amount_paid, change, payment_method, reference_no, created_at) VALUES (2, 1, 1, 1, 200000, 127400, 'Tunai', '', '2026-04-28 16:57:46.626158+00');


--
-- Data for Name: promos; Type: TABLE DATA; Schema: public; Owner: pos_user
--

INSERT INTO public.promos (id, company_id, branch_id, name, description, type, value, min_order, max_discount, start_date, end_date, is_active, created_at) VALUES (1, NULL, NULL, 'Happy Hour 10%', 'Diskon 10% untuk semua menu jam 14-17', 'percentage', 10, 50000, 0, '2026-04-15 15:28:39.360597+00', '2027-04-15 15:28:39.360597+00', true, NULL);
INSERT INTO public.promos (id, company_id, branch_id, name, description, type, value, min_order, max_discount, start_date, end_date, is_active, created_at) VALUES (2, NULL, NULL, 'Gratis Minuman', 'Diskon Rp 15.000 untuk pembelian min Rp 100.000', 'flat', 15000, 100000, 0, '2026-04-15 15:28:39.360597+00', '2027-04-15 15:28:39.360597+00', false, '0001-01-01 00:00:00+00');


--
-- Data for Name: role_menus; Type: TABLE DATA; Schema: public; Owner: pos_user
--

INSERT INTO public.role_menus (role_id, sidebar_menu_id) VALUES (1, 1);
INSERT INTO public.role_menus (role_id, sidebar_menu_id) VALUES (1, 2);
INSERT INTO public.role_menus (role_id, sidebar_menu_id) VALUES (1, 3);


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: pos_user
--

INSERT INTO public.roles (id, name, description) VALUES (1, 'Admin', 'Administrator with full access');
INSERT INTO public.roles (id, name, description) VALUES (2, 'Manager', 'Branch Manager');
INSERT INTO public.roles (id, name, description) VALUES (3, 'Cashier', 'Cashier staff');


--
-- Data for Name: sidebar_menus; Type: TABLE DATA; Schema: public; Owner: pos_user
--

INSERT INTO public.sidebar_menus (id, parent_id, title, path, icon, sort_order, is_header) VALUES (1, NULL, 'Dashboard', '/dashboard', 'dashboard', 1, false);
INSERT INTO public.sidebar_menus (id, parent_id, title, path, icon, sort_order, is_header) VALUES (2, NULL, 'Dashboard Executive', '/dashboard/executive', 'insights', 2, false);
INSERT INTO public.sidebar_menus (id, parent_id, title, path, icon, sort_order, is_header) VALUES (3, NULL, 'OPERASIONAL', NULL, NULL, 5, true);


--
-- Data for Name: stock_histories; Type: TABLE DATA; Schema: public; Owner: pos_user
--



--
-- Data for Name: suppliers; Type: TABLE DATA; Schema: public; Owner: pos_user
--

INSERT INTO public.suppliers (id, company_id, branch_id, name, contact_person, phone, email, address, notes, is_active, created_at) VALUES (1, NULL, NULL, 'Supplier Utama', 'Budi Santoso', '081234567890', 'budi@supplier.com', NULL, NULL, true, NULL);


--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: pos_user
--

INSERT INTO public.system_settings (id, company_id, branch_id, key, value, created_at, updated_at) VALUES (3, NULL, 1, 'wa_gateway_url', 'http://localhost:3000', NULL, NULL);
INSERT INTO public.system_settings (id, company_id, branch_id, key, value, created_at, updated_at) VALUES (11, 0, 1, 'acc_inventory_id', '', '2026-04-28 15:44:06.322607+00', '2026-04-28 16:35:31.150716+00');
INSERT INTO public.system_settings (id, company_id, branch_id, key, value, created_at, updated_at) VALUES (5, 0, 1, 'logo_url', '/uploads/logo/6c0e4831-dc85-41a5-af46-0ceaee077503.png', '2026-04-28 15:44:06.2825+00', '2026-04-28 16:35:31.157188+00');


--
-- Data for Name: tables; Type: TABLE DATA; Schema: public; Owner: pos_user
--

INSERT INTO public.tables (id, company_id, branch_id, table_number, capacity, floor, image_url, position_x, position_y, status) VALUES (12, 1, 1, 'T11', 5, '2', '/uploads/tables/table_12_1777366831.png', 127, 119, 'Kosong');
INSERT INTO public.tables (id, company_id, branch_id, table_number, capacity, floor, image_url, position_x, position_y, status) VALUES (15, 1, 1, 'T14', 5, '2', '/uploads/tables/table_15_1777394050.png', 460, 121, 'Kosong');
INSERT INTO public.tables (id, company_id, branch_id, table_number, capacity, floor, image_url, position_x, position_y, status) VALUES (14, 1, 1, 'T13', 5, '2', '/uploads/tables/table_14_1777394035.png', 347, 120, 'Kosong');


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: pos_user
--

INSERT INTO public.users (id, company_id, full_name, username, password_hash, role_id, branch_id, is_active, created_at) VALUES (1, 1, 'Admin POS', 'admin', '$2a$10$Ir0YAcfykPpfljDHqU5I..bWdNuYEHDLAJSAK9jjpybKNkMlk/tFK', 1, 1, true, '2026-04-15 09:10:24.807062+00');
INSERT INTO public.users (id, company_id, full_name, username, password_hash, role_id, branch_id, is_active, created_at) VALUES (2, 1, 'Executive Owner', 'executive', '$2a$10$MmFkyZYewtiDuROuT/DriO3B/nX5m.RyvUMmZywCeWBEN6Ly1yDmq', 5, 1, true, '2026-04-28 11:03:28.787832+00');


--
-- Data for Name: wa_logs; Type: TABLE DATA; Schema: public; Owner: pos_user
--



--
-- Name: accounts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.accounts_id_seq', 9, true);


--
-- Name: branch_order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.branch_order_items_id_seq', 1, false);


--
-- Name: branch_orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.branch_orders_id_seq', 1, false);


--
-- Name: branches_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.branches_id_seq', 33, true);


--
-- Name: cashier_sessions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.cashier_sessions_id_seq', 1, false);


--
-- Name: categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.categories_id_seq', 1, false);


--
-- Name: companies_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.companies_id_seq', 2, true);


--
-- Name: customers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.customers_id_seq', 4, true);


--
-- Name: goods_issue_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.goods_issue_items_id_seq', 1, false);


--
-- Name: goods_issues_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.goods_issues_id_seq', 1, false);


--
-- Name: goods_receipt_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.goods_receipt_items_id_seq', 1, false);


--
-- Name: goods_receipts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.goods_receipts_id_seq', 1, false);


--
-- Name: ingredients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.ingredients_id_seq', 1, false);


--
-- Name: journal_entries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.journal_entries_id_seq', 2, true);


--
-- Name: journal_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.journal_items_id_seq', 6, true);


--
-- Name: menu_ingredients_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.menu_ingredients_id_seq', 1, false);


--
-- Name: menus_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.menus_id_seq', 1, false);


--
-- Name: order_items_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.order_items_id_seq', 5, true);


--
-- Name: orders_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.orders_id_seq', 2, true);


--
-- Name: payments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.payments_id_seq', 2, true);


--
-- Name: promos_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.promos_id_seq', 2, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.roles_id_seq', 1, true);


--
-- Name: sidebar_menus_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.sidebar_menus_id_seq', 30, true);


--
-- Name: stock_histories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.stock_histories_id_seq', 1, false);


--
-- Name: suppliers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.suppliers_id_seq', 1, true);


--
-- Name: system_settings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.system_settings_id_seq', 11, true);


--
-- Name: tables_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.tables_id_seq', 15, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- Name: wa_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: pos_user
--

SELECT pg_catalog.setval('public.wa_logs_id_seq', 1, false);


--
-- Name: accounts accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.accounts
    ADD CONSTRAINT accounts_pkey PRIMARY KEY (id);


--
-- Name: branch_order_items branch_order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.branch_order_items
    ADD CONSTRAINT branch_order_items_pkey PRIMARY KEY (id);


--
-- Name: branch_orders branch_orders_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.branch_orders
    ADD CONSTRAINT branch_orders_pkey PRIMARY KEY (id);


--
-- Name: branches branches_code_key; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT branches_code_key UNIQUE (code);


--
-- Name: branches branches_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT branches_pkey PRIMARY KEY (id);


--
-- Name: cashier_sessions cashier_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.cashier_sessions
    ADD CONSTRAINT cashier_sessions_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: companies companies_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT companies_pkey PRIMARY KEY (id);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: goods_issue_items goods_issue_items_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.goods_issue_items
    ADD CONSTRAINT goods_issue_items_pkey PRIMARY KEY (id);


--
-- Name: goods_issues goods_issues_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.goods_issues
    ADD CONSTRAINT goods_issues_pkey PRIMARY KEY (id);


--
-- Name: goods_receipt_items goods_receipt_items_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.goods_receipt_items
    ADD CONSTRAINT goods_receipt_items_pkey PRIMARY KEY (id);


--
-- Name: goods_receipts goods_receipts_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.goods_receipts
    ADD CONSTRAINT goods_receipts_pkey PRIMARY KEY (id);


--
-- Name: ingredients ingredients_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.ingredients
    ADD CONSTRAINT ingredients_pkey PRIMARY KEY (id);


--
-- Name: journal_entries journal_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.journal_entries
    ADD CONSTRAINT journal_entries_pkey PRIMARY KEY (id);


--
-- Name: journal_items journal_items_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.journal_items
    ADD CONSTRAINT journal_items_pkey PRIMARY KEY (id);


--
-- Name: menu_ingredients menu_ingredients_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.menu_ingredients
    ADD CONSTRAINT menu_ingredients_pkey PRIMARY KEY (id);


--
-- Name: menus menus_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.menus
    ADD CONSTRAINT menus_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: promos promos_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.promos
    ADD CONSTRAINT promos_pkey PRIMARY KEY (id);


--
-- Name: role_menus role_menus_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.role_menus
    ADD CONSTRAINT role_menus_pkey PRIMARY KEY (role_id, sidebar_menu_id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: sidebar_menus sidebar_menus_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.sidebar_menus
    ADD CONSTRAINT sidebar_menus_pkey PRIMARY KEY (id);


--
-- Name: stock_histories stock_histories_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.stock_histories
    ADD CONSTRAINT stock_histories_pkey PRIMARY KEY (id);


--
-- Name: suppliers suppliers_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.suppliers
    ADD CONSTRAINT suppliers_pkey PRIMARY KEY (id);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (id);


--
-- Name: tables tables_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.tables
    ADD CONSTRAINT tables_pkey PRIMARY KEY (id);


--
-- Name: branch_orders uni_branch_orders_order_no; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.branch_orders
    ADD CONSTRAINT uni_branch_orders_order_no UNIQUE (order_no);


--
-- Name: categories uni_categories_name; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT uni_categories_name UNIQUE (name);


--
-- Name: companies uni_companies_code; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.companies
    ADD CONSTRAINT uni_companies_code UNIQUE (code);


--
-- Name: goods_issues uni_goods_issues_issue_no; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.goods_issues
    ADD CONSTRAINT uni_goods_issues_issue_no UNIQUE (issue_no);


--
-- Name: goods_receipts uni_goods_receipts_receipt_no; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.goods_receipts
    ADD CONSTRAINT uni_goods_receipts_receipt_no UNIQUE (receipt_no);


--
-- Name: payments uni_payments_order_id; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT uni_payments_order_id UNIQUE (order_id);


--
-- Name: roles uni_roles_name; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT uni_roles_name UNIQUE (name);


--
-- Name: users uni_users_username; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT uni_users_username UNIQUE (username);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: wa_logs wa_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.wa_logs
    ADD CONSTRAINT wa_logs_pkey PRIMARY KEY (id);


--
-- Name: idx_accounts_branch_code; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE UNIQUE INDEX idx_accounts_branch_code ON public.accounts USING btree (COALESCE(branch_id, (0)::bigint), code);


--
-- Name: idx_accounts_company_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_accounts_company_id ON public.accounts USING btree (company_id);


--
-- Name: idx_branch_code; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE UNIQUE INDEX idx_branch_code ON public.accounts USING btree (code);


--
-- Name: idx_branch_key; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE UNIQUE INDEX idx_branch_key ON public.system_settings USING btree (branch_id, key);


--
-- Name: idx_branch_order_items_order_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_branch_order_items_order_id ON public.branch_order_items USING btree (branch_order_id);


--
-- Name: idx_branch_orders_company_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_branch_orders_company_id ON public.branch_orders USING btree (company_id);


--
-- Name: idx_branch_orders_status; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_branch_orders_status ON public.branch_orders USING btree (status);


--
-- Name: idx_branches_code; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_branches_code ON public.branches USING btree (code);


--
-- Name: idx_branches_company_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_branches_company_id ON public.branches USING btree (company_id);


--
-- Name: idx_cashier_sessions_branch; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_cashier_sessions_branch ON public.cashier_sessions USING btree (branch_id, status);


--
-- Name: idx_cashier_sessions_user; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_cashier_sessions_user ON public.cashier_sessions USING btree (user_id, status);


--
-- Name: idx_categories_branch_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_categories_branch_id ON public.categories USING btree (branch_id);


--
-- Name: idx_categories_company_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_categories_company_id ON public.categories USING btree (company_id);


--
-- Name: idx_companies_code; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_companies_code ON public.companies USING btree (code);


--
-- Name: idx_customers_company_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_customers_company_id ON public.customers USING btree (company_id);


--
-- Name: idx_customers_phone; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_customers_phone ON public.customers USING btree (phone);


--
-- Name: idx_goods_issues_company_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_goods_issues_company_id ON public.goods_issues USING btree (company_id);


--
-- Name: idx_goods_issues_status; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_goods_issues_status ON public.goods_issues USING btree (status);


--
-- Name: idx_goods_receipt_items_receipt_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_goods_receipt_items_receipt_id ON public.goods_receipt_items USING btree (receipt_id);


--
-- Name: idx_goods_receipts_branch_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_goods_receipts_branch_id ON public.goods_receipts USING btree (branch_id);


--
-- Name: idx_goods_receipts_company_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_goods_receipts_company_id ON public.goods_receipts USING btree (company_id);


--
-- Name: idx_goods_receipts_receipt_date; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_goods_receipts_receipt_date ON public.goods_receipts USING btree (receipt_date);


--
-- Name: idx_goods_receipts_status; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_goods_receipts_status ON public.goods_receipts USING btree (status);


--
-- Name: idx_ingredients_branch_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_ingredients_branch_id ON public.ingredients USING btree (branch_id);


--
-- Name: idx_ingredients_company_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_ingredients_company_id ON public.ingredients USING btree (company_id);


--
-- Name: idx_ingredients_stock; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_ingredients_stock ON public.ingredients USING btree (stock);


--
-- Name: idx_journal_entries_branch_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_journal_entries_branch_id ON public.journal_entries USING btree (branch_id);


--
-- Name: idx_journal_entries_date; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_journal_entries_date ON public.journal_entries USING btree (date);


--
-- Name: idx_journal_items_journal_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_journal_items_journal_id ON public.journal_items USING btree (journal_id);


--
-- Name: idx_menu_ingredients_ingredient_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_menu_ingredients_ingredient_id ON public.menu_ingredients USING btree (ingredient_id);


--
-- Name: idx_menu_ingredients_menu_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_menu_ingredients_menu_id ON public.menu_ingredients USING btree (menu_id);


--
-- Name: idx_menus_branch_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_menus_branch_id ON public.menus USING btree (branch_id);


--
-- Name: idx_menus_category_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_menus_category_id ON public.menus USING btree (category_id);


--
-- Name: idx_menus_company_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_menus_company_id ON public.menus USING btree (company_id);


--
-- Name: idx_menus_is_available; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_menus_is_available ON public.menus USING btree (is_available);


--
-- Name: idx_order_items_menu_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_order_items_menu_id ON public.order_items USING btree (menu_id);


--
-- Name: idx_order_items_order_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_order_items_order_id ON public.order_items USING btree (order_id);


--
-- Name: idx_orders_branch_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_orders_branch_id ON public.orders USING btree (branch_id);


--
-- Name: idx_orders_company_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_orders_company_id ON public.orders USING btree (company_id);


--
-- Name: idx_orders_created_at; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_orders_created_at ON public.orders USING btree (created_at);


--
-- Name: idx_orders_is_paid; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_orders_is_paid ON public.orders USING btree (is_paid);


--
-- Name: idx_orders_perf_branch; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_orders_perf_branch ON public.orders USING btree (branch_id, status, created_at);


--
-- Name: idx_orders_perf_company; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_orders_perf_company ON public.orders USING btree (company_id, status, created_at);


--
-- Name: idx_orders_status; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_orders_status ON public.orders USING btree (status);


--
-- Name: idx_orders_user_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_orders_user_id ON public.orders USING btree (user_id);


--
-- Name: idx_payments_company_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_payments_company_id ON public.payments USING btree (company_id);


--
-- Name: idx_payments_method; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_payments_method ON public.payments USING btree (payment_method);


--
-- Name: idx_payments_order_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_payments_order_id ON public.payments USING btree (order_id);


--
-- Name: idx_promos_company_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_promos_company_id ON public.promos USING btree (company_id);


--
-- Name: idx_promos_status; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_promos_status ON public.promos USING btree (is_active, start_date, end_date);


--
-- Name: idx_settings_branch_key; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE UNIQUE INDEX idx_settings_branch_key ON public.system_settings USING btree (COALESCE(branch_id, (0)::bigint), key);


--
-- Name: idx_stock_histories_created_at; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_stock_histories_created_at ON public.stock_histories USING btree (created_at);


--
-- Name: idx_stock_histories_ingredient_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_stock_histories_ingredient_id ON public.stock_histories USING btree (ingredient_id);


--
-- Name: idx_suppliers_branch_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_suppliers_branch_id ON public.suppliers USING btree (branch_id);


--
-- Name: idx_suppliers_company_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_suppliers_company_id ON public.suppliers USING btree (company_id);


--
-- Name: idx_tables_branch_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_tables_branch_id ON public.tables USING btree (branch_id);


--
-- Name: idx_tables_status; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_tables_status ON public.tables USING btree (status);


--
-- Name: idx_users_branch_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_users_branch_id ON public.users USING btree (branch_id);


--
-- Name: idx_users_company_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_users_company_id ON public.users USING btree (company_id);


--
-- Name: idx_users_role_id; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_users_role_id ON public.users USING btree (role_id);


--
-- Name: idx_users_username; Type: INDEX; Schema: public; Owner: pos_user
--

CREATE INDEX idx_users_username ON public.users USING btree (username);


--
-- Name: branch_order_items fk_branch_order_items_ingredient; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.branch_order_items
    ADD CONSTRAINT fk_branch_order_items_ingredient FOREIGN KEY (ingredient_id) REFERENCES public.ingredients(id);


--
-- Name: branch_orders fk_branch_orders_branch; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.branch_orders
    ADD CONSTRAINT fk_branch_orders_branch FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: branch_order_items fk_branch_orders_items; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.branch_order_items
    ADD CONSTRAINT fk_branch_orders_items FOREIGN KEY (branch_order_id) REFERENCES public.branch_orders(id);


--
-- Name: branches fk_branches_company; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.branches
    ADD CONSTRAINT fk_branches_company FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: cashier_sessions fk_cashier_sessions_user; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.cashier_sessions
    ADD CONSTRAINT fk_cashier_sessions_user FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: goods_issue_items fk_goods_issue_items_ingredient; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.goods_issue_items
    ADD CONSTRAINT fk_goods_issue_items_ingredient FOREIGN KEY (ingredient_id) REFERENCES public.ingredients(id);


--
-- Name: goods_issues fk_goods_issues_branch; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.goods_issues
    ADD CONSTRAINT fk_goods_issues_branch FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: goods_issue_items fk_goods_issues_items; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.goods_issue_items
    ADD CONSTRAINT fk_goods_issues_items FOREIGN KEY (issue_id) REFERENCES public.goods_issues(id);


--
-- Name: goods_receipt_items fk_goods_receipt_items_ingredient; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.goods_receipt_items
    ADD CONSTRAINT fk_goods_receipt_items_ingredient FOREIGN KEY (ingredient_id) REFERENCES public.ingredients(id);


--
-- Name: goods_receipts fk_goods_receipts_branch; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.goods_receipts
    ADD CONSTRAINT fk_goods_receipts_branch FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: goods_receipt_items fk_goods_receipts_items; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.goods_receipt_items
    ADD CONSTRAINT fk_goods_receipts_items FOREIGN KEY (receipt_id) REFERENCES public.goods_receipts(id);


--
-- Name: goods_receipts fk_goods_receipts_supplier; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.goods_receipts
    ADD CONSTRAINT fk_goods_receipts_supplier FOREIGN KEY (supplier_id) REFERENCES public.suppliers(id);


--
-- Name: ingredients fk_ingredients_supplier; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.ingredients
    ADD CONSTRAINT fk_ingredients_supplier FOREIGN KEY (supplier_id) REFERENCES public.suppliers(id);


--
-- Name: journal_items fk_journal_entries_items; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.journal_items
    ADD CONSTRAINT fk_journal_entries_items FOREIGN KEY (journal_id) REFERENCES public.journal_entries(id);


--
-- Name: journal_items fk_journal_items_account; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.journal_items
    ADD CONSTRAINT fk_journal_items_account FOREIGN KEY (account_id) REFERENCES public.accounts(id);


--
-- Name: menu_ingredients fk_menu_ingredients_ingredient; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.menu_ingredients
    ADD CONSTRAINT fk_menu_ingredients_ingredient FOREIGN KEY (ingredient_id) REFERENCES public.ingredients(id);


--
-- Name: menu_ingredients fk_menu_ingredients_menu; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.menu_ingredients
    ADD CONSTRAINT fk_menu_ingredients_menu FOREIGN KEY (menu_id) REFERENCES public.menus(id);


--
-- Name: menus fk_menus_category; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.menus
    ADD CONSTRAINT fk_menus_category FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: order_items fk_order_items_menu; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT fk_order_items_menu FOREIGN KEY (menu_id) REFERENCES public.menus(id);


--
-- Name: orders fk_orders_branch; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_orders_branch FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: orders fk_orders_customer; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_orders_customer FOREIGN KEY (customer_id) REFERENCES public.customers(id);


--
-- Name: order_items fk_orders_items; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT fk_orders_items FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: orders fk_orders_promo; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_orders_promo FOREIGN KEY (promo_id) REFERENCES public.promos(id);


--
-- Name: orders fk_orders_table; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_orders_table FOREIGN KEY (table_id) REFERENCES public.tables(id);


--
-- Name: orders fk_orders_user; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT fk_orders_user FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: payments fk_payments_order; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT fk_payments_order FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: role_menus fk_role_menus_role; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.role_menus
    ADD CONSTRAINT fk_role_menus_role FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- Name: role_menus fk_role_menus_sidebar_menu; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.role_menus
    ADD CONSTRAINT fk_role_menus_sidebar_menu FOREIGN KEY (sidebar_menu_id) REFERENCES public.sidebar_menus(id);


--
-- Name: sidebar_menus fk_sidebar_menus_children; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.sidebar_menus
    ADD CONSTRAINT fk_sidebar_menus_children FOREIGN KEY (parent_id) REFERENCES public.sidebar_menus(id);


--
-- Name: stock_histories fk_stock_histories_ingredient; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.stock_histories
    ADD CONSTRAINT fk_stock_histories_ingredient FOREIGN KEY (ingredient_id) REFERENCES public.ingredients(id);


--
-- Name: stock_histories fk_stock_histories_order; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.stock_histories
    ADD CONSTRAINT fk_stock_histories_order FOREIGN KEY (order_id) REFERENCES public.orders(id);


--
-- Name: tables fk_tables_branch; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.tables
    ADD CONSTRAINT fk_tables_branch FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: users fk_users_branch; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_branch FOREIGN KEY (branch_id) REFERENCES public.branches(id);


--
-- Name: users fk_users_company; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_company FOREIGN KEY (company_id) REFERENCES public.companies(id);


--
-- Name: users fk_users_role; Type: FK CONSTRAINT; Schema: public; Owner: pos_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT fk_users_role FOREIGN KEY (role_id) REFERENCES public.roles(id);


--
-- PostgreSQL database dump complete
--

\unrestrict sCAMhWhMRIlDZcQtlkflsI3oZHNPCUtg17RCCQcm69BpvJ78tnHRxD0j6pm4hyU

